{% extends "masterpage.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
{% endblock %}

{% block content %}
<div class="container todo-container">
  
  <form action="/add" method="POST">
      <div class="input-group">
        <label for="title">Todo Title</label>
        <input type="text" name="title" id="title" placeholder="Enter title"> 
      </div>
      <div class="input-group">
        <label for="description">Todo Description</label>
        <input type="text" name="description" id="description" placeholder="Enter description">
      </div>
      <button type="submit" class="btn">Add Todo</button>
  </form>
</div>

<div class="container todo-container">
 
  {% if allTodo|length == 0 %}
    <div class="alert">
      No Todos found. Add your first todo now!
    </div>
  {% else %}
    <table class="todo-table">
      <thead>
        <tr>
          <th>Sno</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in allTodo %}
        <tr>
          <td>{{ todo.sno }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.description }}</td>
          
          <td class="actions">
            <a href="" class="btn btn-update">Update</a>
            <a href="{{url_for('delete',sno=todo.sno)}}" class="btn btn-delete">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock %}
